
body {
	margin: auto;
	padding: 0;
    width: 1200px;
    background-position: top center;
	font-family: "roboto", sans-serif;
	font-weight: bold;
	color: #ffffff;

	background-color: #849d8f;  
	border: 3px solid black;
	/*рамка временная, для позициониования. Как закончу убрать.*/
}
a {
	/*я отменил стили для ссылок, так-как мне кажется в макете у ссылок другое подчеркивание, но возможно, мне кажется*/
	text-decoration: none;
	color: #ffffff;
    text-align: center;
}
.index-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.profitable-offer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1146px;
    height: 306px;
    border-radius: 15px;
    position: relative;
    border: 3px solid red;
}
.profitable-offer_item {
	position: relative;
	
}
.profitable-offer_item:last-child {
	position: relative;
	left: 40px;
	
}
.profitable-offer_item img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.profitable-offer_item p {
	position: absolute;
}
.icecream {
	display: flex;
	justify-content: space-between; /*почему-то элементы списка не реагируют на space-between, пришлось margin использовать в следующем селекторе*/
	flex-direction: row;
	position: relative;
	

}
.icecream li {
	/*margin: auto 14px;*/
}
.main-content {
    border: 2px solid red;
}
ul.none-marker {
	/*стиль задан всем ul спискам и отменяет маркеры, но вообще в случае с Глейси все списки не промаркированы, 
	не понимаю, почему критерий запрещает задавать глобальные свойства для тега ul*/
	list-style: none;
}
.main-navigation {
    font-size: 16px;
    line-height: 1.13;
}
.icecream-carousel {

}

.icecream-cone img {

}
.icecream-cone-text {
	
	font-size: 59px;

}

/*.icecream li {
	width: 267px;
	

}
*/
/*.icecream_circle {
	margin-bottom: 16px;

}*/


.about-shop {
	background-image: url(../img/vaffles.png);
	width: 1146px;
	height: 306px;
	background-position: center center;
	color: #323232;
}
.icecream-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}