body {
	margin: 0;
	padding: 0;
    width: 1200px;
	font-family: "roboto", sans-serif;
	font-weight: bold;
	color: #ffffff;

	background-color: #849d8f;  
	/*так-как нет фоновой картинки, то задавать для фона значения типа background-positiond/repeat не стал*/
}
a {
	/*я отменил стили для ссылок, так-как мне кажется в макете у ссылок другое подчеркивание, но возможно, мне кажется*/
	text-decoration: none;
	color: #ffffff;
    text-align: center;
}
.index-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.profitable-offer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.profitable-offer_item {
	margin: 0 26px;
}
.main-content {

}
ul.none-marker {
	/*стиль задан всем ul спискам и отменяет маркеры, но вообще в случае с Глейси все списки не промаркированы, 
	не понимаю, почему критерий запрещает задавать глобальные свойства для тега ul*/
	list-style: none;
}
.main-navigation {
    font-size: 16px;
    line-height: 1.13;
}
.icecream-carousel {

}

.icecream-cone img {

}
.icecream-cone-text {
	
	font-size: 59px;

}
.profitable-offer_item {
	display: block;
	width: 420px;
	height: 229px;
	margin-bottom: 1px;
}
.icecream li {
	width: 267px;
	height: 294px;

}
.icecream_circle {
	margin-bottom: 16px;

}

.icecream {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin: 8px;
	min-height: 267px;
}
.about-shop {
	background-image: url(img/vaffles.png);
	width: 1146px;
	height: 306px;
	background-position: center center;
}